.root{
    padding: 10px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    .contentBlock{
        h1{
            padding: 10px;
        }
        button{
            font-size: 22px;
        }
    }
}